.root{
    -fx-background-color: #383838;
    -fx-font-family: serif;
}
.label{
    -fx-text-fill: #e8e8e8;
    -fx-font-size: 27pt;
 
}
.button{
    -fx-background-color: #AB4642;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
    -fx-font-size: 27pt;
}
.button-blue{
    -fx-background-color: #7cafc2;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
}
#bold-label{
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(#ffffff, #ff0000);
    -fx-font-size: 70pt;
}
 
#name-label{
    -fx-background-color: #383838;
}
 
.text-field
{
    -fx-background-color: #AB4642;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 27pt;
}